.overlay{
  background-color: rgba(0, 0, 0, 0.571);
  position: fixed;

  min-width: 100vw;
  top: 0;
  left: 0;
  z-index: 50;
  opacity: 0;
  height: 0;
}


.products{
  // border: dotted;

  margin: 0 auto;
  padding: 1rem;
  position: relative;
// min-height: 35rem;
 

  .thumb-nail{
    display: none;
  }


  img.product{
    display: block;
    height: 0;
    // margin: 1rem auto;
    // position: absolute;
    // width: 100%;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    opacity: 0;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
    // border: dotted;

    &.show{
      opacity: 1;
      height: auto;
      
    }
  }



  // :not(img.product.first){
  //   position: absolute;
  // }

  .arrow{
    border: none;
    border-radius: 50%;
    background-color: white;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    

    img{
      
      object-fit: cover;
      padding: .6rem;
     

    }
    &.l-arrow{
      top: 50%;
      left: 5%;
    }
    &.r-arrow{
      top:50%;
      right: 5%;
    }
  }

}

.light-box{
  opacity: 0;
  z-index: 55;
  position: absolute;
  
  // top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  height: 0;
  width: 0;
  // border: dotted;
.flex-center{
  display: flex;
  justify-content: end;
}
  button{
    // width: 2rem;
    // height: 2rem;
    // width: 100%;
    // display: block;
    // border: dotted;
    // position: absolute;
    right: 0;
    top:0;
    text-align: right;
    // border-radius: 50%;
    // background-color: white;
    color: orange;
    font-size: 2rem;
  }
}





@media screen and (min-width: 785px) {
 .products{ 
   .product{
     cursor: pointer;
   }
   .thumb-nail{
    width: 100%;
    display: flex;
    gap: 1%;
    overflow: hidden;
    // border: dotted;
    margin-top: 0.6rem;
    // display: ;
    
    

    img{
      width: 24.2%;
      border-radius: .5rem;
      &:hover{ opacity: .4;}
    }
  }}

  .products button{
    &.arrow{
       display: none;
       border: dotted;
    }
  }

 
  .light-box.show{
    width: 39%;
    height: 39%;
    opacity: 1;
  }

  .overlay.show{
    opacity: 1;
   height: 100vh;
  }

}